
body {
    background-color: #3f3f3f;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ff8c00; 
}

.card {
    width: 400px;
    display: inline-block;
}
