<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<a href="/"><h1>Catalog App</h1></a>
	<h1> Login </h1>

	<form action="{{url_for('connect')}}" method = 'post'>

		<p>Username:</p>
			<input type ='text' size='30' name='name' placeholder ='name' required>
		<p>Email:</p>
			<input type ='email' size='30' name='email' placeholder ='email' required>
		
		<input type='submit' value='Login'>

		<a href="{{url_for('showCatalog')}}">Cancel</a>

	</form>
</body>
</html>
